
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3{
	color:#000;
	font-weight: 400;
	margin: 0 0 20px 0;
}
li,dl{
	list-style: none;
}
a{
	text-decoration: none;
}
li{
	text-align: -webkit-match-parent;
}
div{
	display: block;
}
body,html{
	font-size: 16px;
	line-height: 1.7;
	height: 100%;
	color: #828282;
	min-width: 1330px;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
nav{
	margin: 40px 0;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	z-index: 1;
}
.container{
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
nav ul{
	float: right;
	margin: 0;
	padding: 2px 0 0 0;
}
.logo{
	font-size: 40px;
	line-height: 40px;
	color:#fff;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
}
nav ul li{
	display: inline;
	position: relative;
}
nav ul a{
	padding: 30px 10px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	text-transform: uppercase;
}
nav ul li a.active{
	color:#fff;
}
.subnav{
	display: none;
}
nav{
	margin: 40px 0;
	padding: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

header{
	position: relative;
	width: 100%;
	color: #fff;
	background: url(https://raw.githubusercontent.com/Liqiaomiao/task/master/task15/images/img_bg_2.jpg);
	text-align: center;
	padding: 7em;
	display: table;
}
header .container{
	z-index: 1;
	width: 750px;
	margin-top: 124px;
}
header h1{
	margin-bottom: 0px;
	font-size: 70px;
	line-height: 1.5;
	color: #fff;
}
h1{
	display: block;
	font-weight: 400;
	margin: 0 0 20px 0;
}
header h2{
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 30px;
	font-weight: normal;
	color: #fff;
}
header ul{
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
} 

header ul li{
	width: 100px;
	height: 100px;
	background: rgba(241, 78, 149, 0.8);
	border-radius: 50%;
	margin: 0 4px;
	vertical-align: middle;
	padding-top: 21px;
	animation: pluse 1s ease infinites;
}
header ul li strong{
	font-size: 30px;
	font-weight: normal;
	display: block;
	width: 100%;
}
header ul li span{
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	width: 100%;
}
header p{
	margin-bottom: 20px;
}
header .btn{
	padding: 15px 20px;
	background: #fff;
	color: #F14E95;
	font-size: 14px;
	margin-right: 4px;
	margin-bottom: 4px;
	font-weight: 400;
	border-radius: 30px;
	display: inline-block;
}
.overlay{
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
}
section{
	position: relative;
	text-align: center;
	padding: 7em 0;
	width: 100%;
}

.pb-80{
	padding-bottom: 80px;
}
section h2{
	font-size: 60px;
	margin-bottom: 10px;
	line-height: 1.5;
	font-weight: bold;
	color: #F14E95;
	text-align: center;
}

section h3{
	font-size: 24px;
}

section p{
	font-size: 18px;
	line-height: 1.5;
	color:#828282;
	width: 66.67%;
	margin: 0 auto;
}

.story .cards{
	display: flex;
	width: 90%;
	position: relative;
	margin: 0 auto;
}
.cards>div{
	width: 50%;
	float: left;
}

.cards>div:first-of-type img{
	float: right;
}
.cards dt {
    font-family: "Sacramento", Arial, serif;
    color: #F14E95;
    font-size: 30px;
}

.cards img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
}
.cards dd {
    text-align: left;
}
.cards dl {
    margin-left: 180px;
}
.cards>div:first-of-type  dd {
    text-align: right;
}
.cards>div:first-of-type dl{
    margin-left: 0;
    margin-right: 180px;
}
.cards>div:first-of-type img{
    float: right;
}

 .wedding-events{
	background: url(https://raw.githubusercontent.com/Liqiaomiao/task/master/task15/images/img_bg_3.jpg) no-repeat left top/cover;
} 
.section-tit{
	padding-bottom: 80px;
}
.section-tit span{
	color: rgba(255, 255, 255, 0.5);
	font-size: 13px;
	letter-spacing: 2px;
	font-family: 600;
}
.wedding-events h2{
	color:#fff;
}
.overlay{
	    background: rgba(0,0,0,.4);
}
.cards-box{
	display: flex;
	justify-content: space-around;
	width: 83.333%;
	margin: 0 auto;
	color:#fff;
}
.cards-box .cards{
	border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
	width: 45%;
	border-radius: 4px;
} 
.cards-box .cards h3{
	font-size: 20px;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.cards-box .cards ul{
	float: left;
	width: 50%;
	margin-bottom: 30px;
	display: table;
	color: rgba(255,255,255,.8);
}
section .cards-box .cards p{
	color: rgba(255,255,255,.8);
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
}
.storys-container{
	position: relative;
	padding: 1px;
}
.storys-container::before{
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	left: 50%;
	border-left: 1px solid #d4d4d4;
}
.storys-card{
	position: relative;
	margin: 20px;
	display: table;
	width: 100%;
}
.storys-card img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -90px;
}
.storys-card>div{
	width: 376px;
	padding: 30px;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	position: relative;
}
.storys-card>div{
	text-align: left;
}
.storys-card:nth-of-type(odd)>div{
	float: left;
	margin-left: 80px;
}
.storys-card dt{
	font-size: 24px;
	margin-bottom: 20px;
	color: #000;
}
.storys-card time{
	display: block;
	margin-bottom: 20px;
	font-size: 13px;
	letter-spacing: 2px;
}
section .storys-card p{
	padding: 0;
	width: 100%;
	line-height: 1.7;
	font-size: 16px;
}
.storys-card>div::before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 14px solid transparent;
    border-left: 14px solid #d4d4d4;
	position: absolute;
	top: 80px;
}
.storys-card>div::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-left: 14px solid #fff;
	position: absolute;
	top: 80px;
}
.storys-card:nth-of-type(odd)>div::after{
	left: 99.5%;
}
.storys-card:nth-of-type(odd)>div::before{
	left: 100%;
}
.storys-card:nth-of-type(even)>div{
	float: right;
	margin-right: 100px;
}
.storys-card:nth-of-type(even)>div::before{
	right: 100%;
	border-left: 14px solid transparent;
	border-right: 14px solid #d3d4d4;
}
.storys-card:nth-of-type(even)>div::after{
	right: 99.5%;
	border-left: 14px solid transparent;
	border-right: 14px solid #fff;
}
.wedding-Gallery{
	background: rgba(0, 0, 0, 0.04);
}
.wedding-Gallery ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} 

.wedding-Gallery li{
	width: 32.3%;
	height: 400px;
	margin-bottom: 10px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
}
.wedding-Gallery .cards li{
	background: url(https://raw.githubusercontent.com/Liqiaomiao/task/master/task15/images/gallery-1.jpg) no-repeat center/cover;
}
.case-studies-sumary{
	position: absolute;
	bottom: 2em;
	left: 2em;
	right: 2em;
}
.case-studies-sumary span{
	letter-spacing: 2px;
	font-size: 13px;
	color: rgba(255,255,255,0.7);
	display: block;
	text-align: left;
}
.case-studies-sumary h2{
	font-size: 30px;
	color: #fff;
	font-weight: normal;
	text-align: left;
}
.regist{
	background: url(https://raw.githubusercontent.com/Liqiaomiao/task/master/task15/images/img_bg_4.jpg) no-repeat center/cover;
}

.regist h2{
	color: #fff;
}
.regist .section-tit p{
	color: rgba(255,255,255,.5);
}
.registing{
	width: 83.333%;
	margin: 0 auto;
	font-size: 0;
}

.registing input{
	width: 29.33%;
	background: rgba(255,255,255,0.2);
	outline: none;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 54px;
	margin: 2%;
	padding: 10px 20px;
	border-radius: 4px;
}
.registing input[type="button"]{
	background: #F14E95;
	border-radius: 30px;
	cursor: pointer;
}
footer{
	padding: 7em 0;
	text-align: center;
}
footer p{
	margin-bottom: 20px;
}
footer small{
	display: block;
	font-size: smaller;
}
footer a{
	color: #F14E95;
}
